# Configuration file

general {
    # List of upgrade materials and their success rates. Format: modid:item:meta|chance
    S:"Upgrade Materials" <
        minecraft:nether_star:0|0.20
        placeholdername:shengjiquan:0|1.00
     >
}


